.viewport {
  display: flex;
  flex-direction: column;
  border: .2em solid black;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  height: 40vh;
  overflow-y: auto;
  border-radius: 8px;
}

.shop-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3vh 0;
}

.shop-item {
  background-color: #ddd;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 100px;
}