.primary-stats {
  margin: 3vh auto;
}
.level-header {
  text-align: center;
}
.level-text {
  text-align: center;
}
.stat-list {
  padding: 0 30px;
}
.stat {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.stat-name {
  display: inline-block;
}
.stat-value {
  display: inline-block;
  text-align: right;
}
.stat-value button {
  margin-left: 5px;
}