.item-name {
  font-size: 16px;
}

.item-image {
  width: 100%;
}

.legendary-text {
  color: #ba2;
}
.epic-text {
  color: #84f;
}
.rare-text {
  color: #17f;
}
.uncommon-text {
  color: green;
}
.common-text {
  color: white;
}

.legendary-border {
  border: 3px solid #ba2;
}
.epic-border {
  border: 2px solid #84f;
  margin: 1px;
}
.rare-border {
  border: 2px solid #17f;
  margin: 1px;
}
.uncommon-border {
  border: 2px solid green;
  margin: 1px;
}
.common-border {
  border: 1px solid grey;
  margin: 2px;
}