                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */



                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */




                                      /* flex */
                                      /* flex */
                                      /* flex */
                                      /* flex */




                                                        /* width and height */
                                                        /* width and height */
                                                        /* width and height */
                                                        /* width and height */





                              /* margin andd padding */
                              /* margin andd padding */
                              /* margin andd padding */
                              /* margin andd padding */




                                                      /* transitions and animations */
                                                      /* transitions and animations */
                                                      /* transitions and animations */
                                                      /* transitions and animations */
.spells {
  margin: 15px;
  max-width: 350px;
  max-height: 40%;

  overflow: scroll;
  width: auto;
  height: 35vh;
}