                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
.border {
  border: .2em solid black;
}
.rounded-lightest {
  border-radius: 1.8%;
}
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
.center {
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}
.text-left {
  text-align: left;
}
.justify-stretch {
  justify-items: stretch;
}
.overflow-scroll {
  overflow-y: auto;
}
                                      /* flex */
                                      /* flex */
                                      /* flex */
                                      /* flex */
.flex {
  display: flex;
}
.flex-col {
  flex-flow: column;
  flex-wrap: nowrap;
}
.flex-1 {
  flex: 1;
}
.flex-row {
  flex-flow: row;
  flex-wrap: nowrap;
}
.flex-row-wrap {
  flex-flow: row;
  flex-wrap: wrap;
}

                                                        /* width and height */
                                                        /* width and height */
                                                        /* width and height */
                                                        /* width and height */

.width-full {
  width: 100%;
}
.max-height-40 {
  max-height: 40vh;
}
.max-width-80 {
  max-width: 80%;
}
.width-full {
  width: 100%;
}
                              /* margin andd padding */
                              /* margin andd padding */
                              /* margin andd padding */
                              /* margin andd padding */

.p-2 {
  padding: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}
.m-1 {
  margin: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
                                                      /* transitions and animations */
                                                      /* transitions and animations */
                                                      /* transitions and animations */
                                                      /* transitions and animations */
