
.statBody{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
    border: .2em solid black;
    padding: .5rem;
    margin: 1px;
}

.name{
    font-family: 'Nelship';
    font-size: 1.5em;
    border-bottom:  .1rem slategray solid;
}

.charIcon{
    margin: auto;
    width: 50%;
    height: auto;
    max-width: 250px;
}

.statBar{
    display: flex;
    flex: 1;
}


@font-face {
    font-family: "Straw";
    src: url("../../../assets/fonts/Nelship.ttf")
}