.absolute {
    position: absolute;
}

.bar-list {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    align-content: space-between;
    margin-left: 5px;
}

#outer-card{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 235px;
    margin: auto auto;
    max-width: 240px;
    max-height: 300px;
    cursor: grab;
    
}

.inner-card{
  border: black .2em solid;
  background-color: snow;
  color: #000;
  border-radius: 15px;
  align-self: center;
  justify-content: stretch;
  min-width: 200px;
  min-height: 280px;
  width: 200px;
  height: 280px;
  flex-wrap: nowrap;
  margin: .5px;
  will-change: transform, opacity;
  overflow: hidden;
}

.inner-card > img {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
}

.name{
    font-family: 'Nelship';
    font-size: 1.5em;
    border-bottom:  .1rem slategray solid;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
}

.dance:hover{
    animation: infinite 3s dance;
    position: relative;
  }

  @keyframes dance {
    0%{
      transform:
      translateX(2%)
      translateY(2%)
      rotate(5deg);
    }
  25%{
    transform:
    translateX(2%)
    translateY(-2%)
    rotate(-5deg);
  }
  50%{
    transform:
    translateX(-2%)
    translateY(2%)
    rotate(5deg);
  }
  75%{
    transform:
    translateX(-2%)
    translateY(2%)
    rotate(-5deg);
  }
  100% {
  transform:
  translateX(-2%)
  translateY(-2%)
  rotate(2deg);
      }
  }

@media all and (min-width: 600px){
    .stat-body{
        margin: 1rem;
    }
}