                                              /* static animation classes */

 /* gentle wiggle and gentle wiggle plus are set to be slightly different */
.gentle-wiggle {
	animation: gentle-wiggle 2s infinite;
}
.gentle-wiggle-plus {
	animation: gentle-wiggle 2.1s infinite;
}
.hover{
  animation: infinite 5s hover alternate;
}
.rainbow-bg{
 background-clip: text;
  color: transparent;
  animation: infinite 5s rainbow alternate;
}
.text-pop-up-bottom {
	-webkit-animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


                                          /* Animations for hovering over stuff */


.rainbow-text:hover{
  animation-timing-function: ease;
  animation-name: text-rainbow;
  animation-duration: 5s;
  animation-delay: .25s;
  animation-iteration-count: infinite ;
  animation-direction: alternate-reverse
}
.dance:hover{
  animation: infinite 3s dance;
}

.hover-inv:hover {
  box-shadow: .1rem .1rem .4rem gold;
  transition: ease-in, 0.3s;
  transform: scale(1.1);
  transition-delay: 0.01s;
}
.hover-spell:hover{
  text-shadow: .3rem .2rem .4rem lightyellow;
  transition: ease-in, 0.5s;
  transform: scale(1.25);
  transition-delay: 0.01s;
  border: none;
  cursor: grab;
}
.hover-abi:hover{
  text-shadow: .3rem .2rem .4rem lightyellow;
  transition: ease-in, 0.5s;
  transform: scale(1.1);
  transition-delay: 0.01s;
  border: none;
  cursor: grabbing;
}
.hover-gear:hover{
  text-shadow: .3rem .2rem .4rem rgba(252, 212, 79, 0.699);
  transition: ease-in, 0.5s;
  transform: scale(1.5);
  transition-delay: 0.01s;
  margin: 0;
  padding: 1rem;
  border: none;
  cursor:help;
}

                                      /* Keyframes for controlling animations below */
@keyframes gentle-wiggle {
	0% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(0deg);
	}
	85% {
		transform: rotate(0.5deg);
	}
	95% {
		transform: rotate(-0.1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes gentle-rock {
	0% {
    transform: rotate(5deg);
  }
  25%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-5deg);
  }
		100% {
		transform: rotate(0deg);
	}
}
@keyframes dance {
  0%{
    transform:
    translateX(2%)
    translateY(2%)
    rotate(5deg);
  }
25%{
  transform:
  translateX(2%)
  translateY(-2%)
  rotate(-5deg);
}
50%{
  transform:
  translateX(-2%)
  translateY(2%)
  rotate(5deg);
}
75%{
  transform:
  translateX(-2%)
  translateY(2%)
  rotate(-5deg);
}
100% {
transform:
translateX(-2%)
translateY(-2%)
rotate(2deg);
	}
}
@keyframes rainbow{
  0%{ background-color: red;}
  15%{  background-color: orange;}
  30%{ background-color: yellow;}
  50%{  background-color: green;}
  75%{background-color: blue;}
  100%{background-color:rebeccapurple}
}
@keyframes text-rainbow{
  0%{  color: red;}
  15%{  color: rgb(255, 149, 9);}
  30%{  color: rgb(242, 196, 12);}
  50%{  color: green;}
  75%{  color: blue;}
  100%{ color:rebeccapurple}
}
@keyframes hover {
  0%,  50%,  100% {
    transform:
    translateY(0)
    skewX(0deg)
    skewY(0deg);
  }
  25%{
    transform:
    skewX(2deg)
    translateY(-10%)
  }
  75% {
  transform:
  skewX(-2deg)
  translateY(-5%)
  }
}
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
