.bg-red {
  background-color: #C1666B;
}

.bg-timberwolf {
  background-color: #E4DFDB;
}

.bg-timber {
  background-color: #f6f0eaf6;
}

.bg-snow {
  background-color: snow;
}

.bg-dark-cream {
  background-color: #b1aeadc2;
}

.bg-verd {
  background-color: #49A9A6;
}

.bg-liberty {
  background-color: #4357AC;
}

.bg-transparent{
  background-color: transparent;
}
