
                /* main flex property */

.flex {
  display: flex;
}


                /* flex with wrap */

.flex-row-wrap {
  flex-flow: row;
  flex-wrap: wrap;
}
.flex-col-wrap {
  flex-flow: column;
  flex-wrap: wrap;
}

                    /* flex with no wrap */

.flex-row {
  flex-flow: row;
  flex-wrap: nowrap;
}

.flex-col {
  flex-flow: column;
  flex-wrap: nowrap;
}


                    /* flex widths */

                    /*flex 2 to have only
                    one child if other children are
                    flexed with 1*/

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}


                /* shrink/ grow

                if something is breaking or not scaling */

.flex-shrink {
  flex-shrink: 1;
}

.shrink-none {
  flex-shrink: none;
}

.flex-grow {
  flex-grow: 1;
}
