                            /* most sizes use rem or em b/c it scales automatically */

                            /* font sizes */
.font-3xs{
  font-size: xx-small;
}
.font-xxs{
  font-size: x-small;
}
.font-xs{
  font-size: smaller;
}
.font-sm{
  font-size: small;
}
.font-md{
  font-size: medium;
}
.font-lg {
  font-size: large;
}
.font-xl {
  font-size: x-large;
}
.font-xxlg{
  font-size: xx-large;
}
.font-3r{
  font-size: 3rem;
}

                                      /* text alignment */


.text-justify{
  text-align: justify;
}
.text-left {
  text-align: left;
}

                                      /* Text colors */


.text-red{
  color: #C1666B;
}
.text-blue{
  color: #4357AC;
}
.text-green{
  color: #49A9A6;
}
.text-purple{
  color: blueviolet;
}
.text-black {
  color: black;
}
.text-transparent{
  color: transparent;
}

                                    /* text and list style removers */


.text-dec-none{
  text-decoration: none;
}
.list-style-none{
  list-style: none;
}

                                    /* bold */


.font-bold{
  font-weight: bold;
}

                                /* text shadow */


.text-shadow{
  text-shadow: .1rem 5rem .1rem grey;
}


                              /* font imports from assets folder */


@font-face {
  font-family: 'nerdland';
  src: url('../assets/fonts/NederlandFantasy.ttf')
}
@font-face {
  font-family: 'handy';
  src: url('../assets/fonts/BabyDoll.ttf')
}

                              /* main font names */
.font-nerd {
  font-family: 'nerdland';
}
.font-handy{
  font-family: 'handy';
}
.font-mono {
  font-family: monospace;
}


                              /*  text tracking aka letter spacing*/


.tracking-tight{
  letter-spacing: .1rem;
}
.tracking-wide{
  letter-spacing: .25rem;
}
.tracking-wider{
  letter-spacing: .5rem;
}
.tracking-widest{
  letter-spacing: .75rem;
}


                                        /* box-shadow */
.boxshadow {
  box-shadow: .2rem .2rem .4rem slategray;
}

.boxshadow-light {
  box-shadow: .1rem .1rem .2rem slategray;
}
