                                        /* most sizes use rem or em b/c it scales automatically */


                                        /* margins here */
.m-0{
  margin: 0;
}
.m-1px {
margin: 1px;
}
.m-2px {
  margin: 2px;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}


                                        /* margin only for x axis */


                                        /* 1-2 and 1-4 are readd as half and quarter */


.mx-1-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
