                              /* Master Center
                              Use if you cant get
                              something to center */

.center {
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}
.pos-fixed {
  position: fixed;
}
.pos-sticky {
  position: sticky;
}
.pos-rel {
  position: relative;
}
.pos-bottom {
  position: bottom;
}
.align-self-left {
  align-self: left;
}
.justify-stretch {
  justify-items: stretch;
}
.justify-around {
  justify-content: space-around;
}

                          /* text alignments */
.text-left {
  text-align: left;
}
.text-justify{
  text-align: justify;
}

                          /* Over flows,
                          shows scroll bars,
                          requires max height
                          & width properties */
.overflow-scroll {
  overflow-y: auto;
}
.overflow-x-scroll {
  overflow-x: auto;
}
.overflow-show{
  overflow: visible;
}

                        /* Not currently Using grids */
.grid-1-1 {
  grid-auto-flow: row;
  grid-auto-flow: column;
}

.span-1-1 {
  grid-column: span 1 / span 1;
  grid-row: span 1 / span 1;
}
.span-1-2 {
  grid-column: span 1 / span 1;
  grid-row: span 2 / span 2;
}

                    /* Z index to move stuff
                    in front of or behind */
.z-ind-front{
  z-index: 1;
}
.z-ind-back{
  z-index: -1;
}
