main
{
    position: fixed;
    
    bottom: 65px;
    top:40px;
    right:0px;
    left:0px;
    overflow-y: scroll;
}

.intro{
    text-align: center;
    margin: auto;
    padding: 5px;
}

.header{
    text-align: center;
    font-size: 3.5em;
    font-family: 'nerdland';
    margin-top: 75px;
}

.sub-head{
    font-family: 'Nelship';
    text-align: center;
    margin: 10px auto;
}

.main-inner{
    margin-top: -50px;
    
}

.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    color: #48A9A6;
}

.main-link{
    text-decoration: none;
}

.main-link:visited {
    color: #48A9A6;
}

.main-link:hover {
    color: #FEC369;
}

@media only screen and (max-width: 600px) {
    
    .header {
      margin-top: 100px;
      font-size: 2.8em;
    }
    .sub-head {
      margin: 10px 15px;
    }
    .main-inner{
        margin-top: -45px;
    }
}
