.intro{
    text-align: center;
    margin: 15px;
    padding: 5px;
}

.subHead{
    font-family: 'Nelship';
    text-align: center;
    margin-top: 30px;
    max-width: 280px;
    margin: 10px auto;
    padding: 2rem;
}

.mainNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    color: #48A9A6;
}

.mainLink{
    text-decoration: none;
}

.mainLink:visited {
    color: #48A9A6;
}

.mainLink:hover {
    color: #FEC369;
}

@font-face {
    font-family: 'Nelship';
    src: url('../../assets/fonts/Nelship.ttf')
}
.hover{
    animation: infinite 5s hover alternate;
  }
