.intro{
    text-align: center;
    margin: 15px;
    padding: 5px;
}

/* font-xxl flex-1 font-nerd center flex-grow text-pop-up-bottom my-2 hover' */
.header{
    text-align: center;
    font-size: 2.8em;
    font-family: 'nerdland';
}

.subHead{
    font-family: 'Nelship';
    text-align: center;
    margin: 10px auto;
}

.mainNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px;
    color: #48A9A6;
}

.mainLink{
    text-decoration: none;
}

.mainLink:visited {
    color: #48A9A6;
}

.mainLink:hover {
    color: #FEC369;
}

@font-face {
    font-family: 'Nelship';
    src: url('../../assets/fonts/Nelship.ttf')
}
.hover{
    animation: infinite 5s hover alternate;
  }
