#headerNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-width: 1px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
    padding: 5px;
}

.headerLink {
    text-decoration: none;
}

.headerLink:visited {
    color: #48A9A6;
}

.headerLink:hover {
    color: #FEC369;
}
