#headerNav{
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    top:0px;
    flex-wrap: wrap;
    justify-content: space-around;
    border-width: 1px;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
    padding: 5px;    
}

.headerLink {
    text-decoration: none;
}

.headerLink:visited, a:visited {
    color: #48A9A6;
}

.headerLink:hover{
    color: #FEC369;
}

#themeToggle{
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#soundToggle{
    position: fixed;
    bottom: 20px;
    left: 20px;   
}
