                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
                      /* fonts, borders, and colors */
.abilities {
  margin: 15px;
  max-width: 80%;
  width: 350px;
  max-height: 40%;
  height: 35vh;
  overflow: scroll;
}

.border {
  border: .2em solid black;
}
.bg-snow {
  background-color: snow;
}
.rounded-lightest {
  border-radius: 1.8%;
}
@font-face {
  font-family: "handy";
  src: url("../../../assets/fonts/BabyDoll.ttf")
}
.font-handy{
  font-family: "handy";
}


                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
                                                          /* alignment and positioning */
.overflow-scroll {
  overflow-y: auto;
}
.center {
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}



                                      /* flex */
                                      /* flex */
                                      /* flex */
                                      /* flex */
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-col {
  flex-flow: column;
  flex-wrap: nowrap;
}
.shrink-none {
  flex-shrink: none;
}


                                                        /* width and height */
                                                        /* width and height */
                                                        /* width and height */
                                                        /* width and height */
.max-width-80 {
  max-width: 80%;
}
.min-w-4r {
  min-width: 4rem;
}
.width-full {
  width: 100%;
}
.max-height-40 {
  max-height: 40vh;
}



                              /* margin andd padding */
                              /* margin andd padding */
                              /* margin andd padding */
                              /* margin andd padding */
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.p-1 {
  padding: 1rem;
}


                                                      /* transitions and animations */
                                                      /* transitions and animations */
                                                      /* transitions and animations */
                                                      /* transitions and animations */

.hover-abi:hover{
  text-shadow: .3rem .2rem .4rem lightyellow;
  transition: ease-in, 0.5s;
  transform: scale(1.1);
  transition-delay: 0.01s;
  border: none;
  cursor: grabbing;
}
