.abl-outer{
    margin: 10px 40px;
    width: auto;
    min-width: 240px;
    max-height: 300px;
    border: .2em solid black;
    text-align: center;
    overflow-y: scroll;
    border-radius: 1.8%;
}

@media only screen and (max-width: 600px) {
    .abl-outer {
        margin: 17px;
    }
}

.abl-inner{
    font-family: 'handy';
    display: flex;
    flex-direction: column;
}

.abl-inner h2:hover{
    text-shadow: .3rem .2rem .4rem lightyellow;
    transition: ease-in, 0.5s;
    transform: scale(1.1);
    transition-delay: 0.01s;
    border: none;
    cursor: grabbing;
}