.viewport {
  position: fixed;
  top:40px;
  bottom:130px;
  left:10px;
  right:10px;
  text-align: left;
  padding:20px;
  overflow-y: auto;
  border-radius: 8px;
  
}
.viewport p
{
  margin-top: 2px;
}
