.ap-bar-segments {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bar {
  border: 2px solid black;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
  margin: auto;
  height: 6px;
}

.bar-fill {
  height: 6px;
}

.bar-num-display {
  margin: 0;
  height: 0;
}

.bar-outer {
  margin-right: 10px;
}

.bar-segment{
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 6px;
  width: 100%;
}

.bar-text {
  height: 5px;
  margin: 10px 3px;
  line-height: 5px;
  text-align: center;
}

.bar-container {
  display: flex;
  align-items: center;
}

.HP {
  background-color: #C1666B;
}

.MP {
  background-color: #4357AC;
}

.ap {
  background-color: green;
}