.bar {
  border: 2px solid black;
  width: 150px;
  border-radius: 1em;
  overflow: hidden;
}

.HP {
  background-color: #C1666B;
}

.MP {
  background-color: #4357AC;
}

.ap {
  background-color: green;
}

.bar-segment{
  border-left: 2px solid black;
  border-right: 2px solid black;
}
