.character-form {
  text-align: center;
  margin: 20px auto 20px auto;
  padding: auto;
}

.create-character-flex {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.job-category {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px auto auto auto;
  padding: auto;
}
.job-list {
  width: 20vh;
  text-align: center;
  
}
.ability-list {
  width: 20vh;
  height: 20vh;
}

.stat-category {
  width: 80%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.stats {
  padding: 0 10px;
}

.primary-stats {
  width: 20vh;
  border: 0.15em solid black;
}
.secondary-stats {
  width: 20vh;
  border: 0.15em solid black;
}