
.acc-header{
    font-weight: bold;
    margin: 15px;
    background-color: transparent;
    border: none;
}

.acc-btn:hover{
    background-color: transparent;
    box-shadow: none;
}

.acc-inner{
    overflow: hidden;
    transition: 1s ease;
}
