
.acc{
    display: flex;
    flex-direction: column;
}

.acc-outer{
    display: flex;
    align-items: center;
    padding: 15px;
    transition: 1s ease;
}

.acc-header{
    font-weight: bold;
}

.acc-inner{
    overflow: hidden;
    transition: 1s ease;
}

.acc-content{
    padding: 15px;
}
